---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ting-Wei Lin">
	<div class="content">
		<!-- Content will go here -->
	</div>
</Layout>

<style>
	.content {
		margin-top: 2rem;
	}
</style>